.card-style{
    background-image: linear-gradient(210deg,#fa5042 1.4% , #ffa739 100.75%) !important;
    cursor: pointer;
}
.button-style:hover{
    background-image: linear-gradient(210deg,#fa5042 1.4% , #ffa739 100.75%) !important;
    cursor: pointer;
    color: white;
    transition: all .6s;
}
