@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.backdiv{

    background-image: linear-gradient(to bottom ,#262323be,#383838), url('../../assets/image2.82da8b2725df896d8a8e.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.back{
    filter: drop-shadow(0px 0px 20px rgb(255, 111, 0));
    /* box-shadow: 0px 0px  20px orange; */
  
    
  }
  

.text-p{
    font-family: Inter, sans-serif;
    font-size: 17px;
}

.left-back{
    background-image: url('../../assets/3bba73b36c708e38ddea57caf4ce37ea_high.webp');
}
.back-ani{
    background-color: rgb(43, 44, 45);
}