@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.back{
    filter: drop-shadow(0px 0px 20px rgb(255, 111, 0));
    /* box-shadow: 0px 0px  20px orange; */
  
    
  }
  

.text-p{
    font-family: Inter, sans-serif;
    font-size: 17px;
}

.left-back{
    background-image: url('../../assets/3bba73b36c708e38ddea57caf4ce37ea_high.webp');
}
.back-ani{
    background-color: rgb(43, 44, 45);
}